---
layout: base.njk
title: Notes
eleventyExcludeFromCollections: true
---

<ul>
{% for note in collections.notes %}
  <li>
    <a href="{{ note.url | url }}">{{ note.data.title }}</a>
    <small>— {{ note.date | ymd }}</small>
  </li>
{% endfor %}
</ul>
